.about_me {
    display: grid;
    grid-template-areas: 
        "image aboutMe"
        "skills skills"
    ;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 1fr;
}

.about_me--summary {
    grid-column: 2 / 3;

    display: grid;
    grid-template-areas: 
        "title"
        "text"
        "button"
    ;

    place-self: center;
    
    width: 70%;

    font-size: 2rem;

    margin-bottom: 2em;
}

.summary--title {
    font-size: 1.5rem;

    margin: 3em 0 1em 0;
}

.summary--text {
    margin-bottom: 1.5em;
}

.text--title {
    font-size: 3rem;
    margin-bottom: .3em;
}

.text--paragraph{
    font-size: 2rem;
    line-height: 1.2em;
    
    margin-top: .5em;
}

.summary--button {
    display: flex;

    gap: 3em;
}

/* Skills */
.about_me--tech_stack {
    grid-column: 1 / 3;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
}