.firstPage {
    display: grid;
    grid-template-areas: 
        "title image"
    ;
    grid-template-columns: 1fr .75fr;
}

.firstPage__title {
    justify-self: center;
    align-self: center;
}

.firstPage__button {
    margin-top: 5vh;
}

.firstPage__button .button__myProject {
    width: 9vw;
    height: 4vh;
    
    margin-right: 1vw;
}

.firstPage__button .button__myContact {
    width: 9vw;
    height: 4vh;
}

.firstPage__h5--color {
    color: red;
}