.navbar {
  display: flex;

  padding: 3vh 4vw 0 4vw;
}

.navbar__logo {
  margin-right: auto;

  margin-left: 3vw;
}

.navbar__item {
  display: grid;

  grid-template-areas:
    "home aboutMe project"
  ;
  gap: 4vw;
  
  align-items: center;
}